.text {
    position: relative;
    letter-spacing: 0.16px;
    line-height: 18px;
}
.icon {
    width: 16px;
    position: relative;
    height: 16px;
}
.button02Secondary {
    position: absolute;
    top: 438px;
    left: 32px;
    background-color: #0f62fe;
    width: 96px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px;
    box-sizing: border-box;
    --button-primary: #0f62fe;
    --button-hover: #0353E9;
    --button-active: #002D9C;
    --button-focus-outline: #0F62FE;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
}

@media (max-width: 600px) {
    .button02Secondary {
        position: absolute;
        top: 280px;
        left: 32px;
        width: calc(50% - 32px - 8px)
    }
}
