.icon {
    width: 16px;
    position: relative;
    height: 16px;
}
.button02Secondary {
    width: 32px;
    position: relative;
    background-color: #DA1E28;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    outline: none;
    border: none;
    cursor: pointer;
    top: 14px;
    left: 32px;
}

